<html>
    
    <body>
        <b> This is App Page..... </b>
        <p> {{ value | length }} </p>
        <p> {{ val | add:"2" }} </p>
        <p> {{ a | addslashes }}</p>
        <p> {{ a | capfirst }}</p>
        <p> "{{ a | center:"200" }}"</p>
        <p> {{ a | cut:" " }}</p>
        <p> {{ date | date:"D d M Y" }} </p>
        <p> {{ str | default:"nothing" }} </p>
        <p> {{ data | dictsort:"age" }} </p>
        <p> {{ val | divisibleby:"3" }} {{ val | divisibleby:"4" }} </p>
        {{ val | filesizeformat }}
        <p> {{ value | first }} </p>
        <p> {{ value | last }} </p>
        <p> {{ value | join:" \ " }} </p>
        <p> {{ a | linenumbers}} </p>
        <p> {{ a | lower }} </p>
        <p> {{ lststr | make_list }} </p>
        <p> {{ lstint | make_list }} </p>
        <p> {{ value | random }} </p>
        <p> {{ value | slice:"3" }} </p>
        <p> {{ a | slugify }} </p>
        <p> {{ date | time:"H:i" }}</p>
        <p> {{ blog_date | timesince }}</p>
        <p> {{ lststr | title }}</p>
        <p> {{ unlist | unordered_list }}</p>
        <p> {{ lststr | upper }}</p>
        <p> {{ lststr | wordcount }}</p>

        <b> Earthly Dev </b>
        <p> {{ date | date:"SHORT_DATE_FORMAT" }} </p>
        <p> {{ date | date }} </p>
        <p> {{ emptystr | default:"Empty String" }} </p>
        
        
        <strong> {{ description | truncatechars:7 }} </strong>
        <p> {{ description | wordcount }} </p>
        <p> {{ description | truncatewords:2 }} </p>
        {{ '<b> I </b> Have <button> A cow </button>' | striptags }}
        <p> Example 1 : I have {{ num_messages }} message{{ num_messages | pluralize  }}</p>
        <p> Example 2 : I have {{ num_messages }} message{{ num_messages | pluralize:'es'  }}</p>

        <p> Example 3 : I have {{ num_messages }} message{{ num_messages | pluralize:"y,ies"  }}</p>


        
    </body>

</html>
